<html>
    <head>
        <script type="text/javascript" language="javascript" src="/media/js/jquery/jquery-1.3.2.min.js"></script>
        <script type="text/javascript" language="javascript" src="/media/js/voting.js"></script>
        <script type="text/javascript" language="javascript" src="/loadscript.js"></script>
        <script type="text/javascript" language="javascript" src="http://api.recaptcha.net/challenge?k=6LcEXwoAAAAAAL7oGAm94ASnmE7MtKvq57ShDO6R"></script>
        <script type="text/javascript" language="javascript">
            $(function(){
                $.loadIndex($('#voting-box'), function(){
                    $.attachVoting();
                    $.updateResults($("#voting-result"));
                });
                $("#atualizar").click(function(){
                    $.updateResults($("#voting-result"));
                });
            });
        </script>
    </head>

    <body>
        <div id="voting-box"></div>

        <div id="voting-result"></div>
        <a href="javascript:" id="atualizar">atualizar</a><br/><br /><br />
        <a href="/abrir" id="abrir">abrir votos</a><br/>
        <a href="/zerar">Zerar os votos</a>
    </body>
</html>
