<div class="votacao-container">
    <div class="votacao-title">
        {{ escola }}
    </div>
    <div class="votacao-quesito">
        <div class="votacao-titulo">Harmonia</div>
        <div class="votacao-valores">
            <input type="radio" value="5" class="valor-quesito" id="nota_harmonia" name="nota-harmonia" />5
            <input type="radio" value="6" class="valor-quesito" id="nota_harmonia" name="nota-harmonia" />6
            <input type="radio" value="7" class="valor-quesito" id="nota_harmonia" name="nota-harmonia" />7
            <input type="radio" value="8" class="valor-quesito" id="nota_harmonia" name="nota-harmonia" />8
            <input type="radio" value="9" class="valor-quesito" id="nota_harmonia" name="nota-harmonia" />9
            <input type="radio" value="10" class="valor-quesito" checked="checked" id="nota_harmonia" name="nota-harmonia" />10
        </div>
    </div>
    <div class="votacao-quesito">
        <div class="votacao-titulo">Mestre-Sala e Porta Bandeira</div>
        <div class="votacao-valores">
            <input type="radio" value="5" class="valor-quesito" id="nota_ms_pb" name="nota-ms-pb" />5
            <input type="radio" value="6" class="valor-quesito" id="nota_ms_pb" name="nota-ms-pb" />6
            <input type="radio" value="7" class="valor-quesito" id="nota_ms_pb" name="nota-ms-pb" />7
            <input type="radio" value="8" class="valor-quesito" id="nota_ms_pb" name="nota-ms-pb" />8
            <input type="radio" value="9" class="valor-quesito" id="nota_ms_pb" name="nota-ms-pb" />9
            <input type="radio" value="10" class="valor-quesito" checked="checked" id="nota_ms_pb" name="nota-ms-pb" />10
        </div>
    </div>
    <div class="votacao-quesito">
        <div class="votacao-titulo">Evolução</div>
        <div class="votacao-valores">
            <input type="radio" value="5" class="valor-quesito" id="nota_evolucao" name="nota-evolucao" />5
            <input type="radio" value="6" class="valor-quesito" id="nota_evolucao" name="nota-evolucao" />6
            <input type="radio" value="7" class="valor-quesito" id="nota_evolucao" name="nota-evolucao" />7
            <input type="radio" value="8" class="valor-quesito" id="nota_evolucao" name="nota-evolucao" />8
            <input type="radio" value="9" class="valor-quesito" id="nota_evolucao" name="nota-evolucao" />9
            <input type="radio" value="10" class="valor-quesito" checked="checked" id="nota_evolucao" name="nota-evolucao" />10
        </div>
    </div>
<!--    <div id="recaptcha_place"></div>-->
    <div class="votacao-toolbar">
        <button id="votacao_votar" name="votacao-votar" class="votar">Votar</button>
    </div>
</div>
