<div class="votacao-container">
    <div class="votacao-title">
        {{ escola.name }}
    </div>
    <div class="votacao-quesito">
        <div class="votacao-titulo">Harmonia</div>
        <div class="votacao-valores">
            <input type="checkbox" value="5" name="nota-harmonia" />5
            <input type="checkbox" value="6" name="nota-harmonia" />6
            <input type="checkbox" value="7" name="nota-harmonia" />7
            <input type="checkbox" value="8" name="nota-harmonia" />8
            <input type="checkbox" value="9" name="nota-harmonia" />9
            <input type="checkbox" value="10" name="nota-harmonia" />10
        </div>
    </div>
    <div class="votacao-quesito">
        <div class="votacao-titulo">Mestre-Sala e Porta Bandeira</div>
        <div class="votacao-valores">
            <input type="checkbox" value="5" name="nota-ms-pb" />5
            <input type="checkbox" value="6" name="nota-ms-pb" />6
            <input type="checkbox" value="7" name="nota-ms-pb" />7
            <input type="checkbox" value="8" name="nota-ms-pb" />8
            <input type="checkbox" value="9" name="nota-ms-pb" />9
            <input type="checkbox" value="10" name="nota-ms-pb" />10
        </div>
    </div>
    <div class="votacao-quesito">
        <div class="votacao-titulo">Evolução</div>
        <div class="votacao-valores">
            <input type="checkbox" value="5" name="nota-evolucao" />5
            <input type="checkbox" value="6" name="nota-evolucao" />6
            <input type="checkbox" value="7" name="nota-evolucao" />7
            <input type="checkbox" value="8" name="nota-evolucao" />8
            <input type="checkbox" value="9" name="nota-evolucao" />9
            <input type="checkbox" value="10" name="nota-evolucao" />10
        </div>
    </div>
    <div class="votacao-toolbar">
        <button id="votacao_votar" name="votacao-votar" class="votar">Votar</button>
    </div>
</div>
